In [ ]:
import dask.dataframe as dd
import pandas as pd

df = pd.read_csv('data.csv')
df.head()

,volt1,volt2,amp1,amp2,FQtyL,FQtyR,E1 FFlow,E1 OilT,E1 OilP,E1 RPM,...,E1 EGT3,E1 EGT4,OAT,IAS,VSpd,NormAc,AltMSL,timestep,cluster,target
0,NaN,NaN,NaN,NaN,23.27,23.75,NaN,NaN,NaN,NaN,...,NaN,NaN,19.5,0.0,-44.40,0.00,829.9,0,c_21,1
1,NaN,NaN,NaN,NaN,23.27,23.75,NaN,NaN,NaN,NaN,...,NaN,NaN,19.5,0.0,-44.40,0.00,829.9,1,c_21,1
2,NaN,NaN,NaN,NaN,23.23,23.75,NaN,NaN,NaN,NaN,...,NaN,NaN,19.5,0.0,-31.84,0.01,829.5,2,c_21,1
3,27.9,27.9,7.0,0.6,23.21,23.73,1.94,73.77,59.70,1062.6,...,988.20,1005.94,19.5,0.0,-21.67,-0.03,829.7,3,c_21,1
4,27.9,27.9,7.0,0.6,23.21,23.73,2.02,73.80,59.75,1064.0,...,989.95,1008.19,19.5,0.0,15.04,0.02,829.5,4,c_21,1

In [ ]:
df = df.drop(columns=['timestep', 'cluster'])

In [ ]:
df['IAS'].value_counts()

IAS
0.00      438907
104.93       546
104.87       539
104.75       534
104.90       534
           ...
178.68         1
178.78         1
178.63         1
178.72         1
20.44          1
Name: count, Length: 16441, dtype: int64

In [ ]:
df

,volt1,volt2,amp1,amp2,FQtyL,FQtyR,E1 FFlow,E1 OilT,E1 OilP,E1 RPM,...,E1 EGT1,E1 EGT2,E1 EGT3,E1 EGT4,OAT,IAS,VSpd,NormAc,AltMSL,target
0,NaN,NaN,NaN,NaN,23.27,23.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19.5,0.00,-44.40,0.00,829.9,1
1,NaN,NaN,NaN,NaN,23.27,23.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19.5,0.00,-44.40,0.00,829.9,1
2,NaN,NaN,NaN,NaN,23.23,23.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19.5,0.00,-31.84,0.01,829.5,1
3,27.9,27.9,7.0,0.6,23.21,23.73,1.94,73.77,59.70,1062.6,...,1016.43,983.24,988.20,1005.94,19.5,0.00,-21.67,-0.03,829.7,1
4,27.9,27.9,7.0,0.6,23.21,23.73,2.02,73.80,59.75,1064.0,...,1020.13,985.44,989.95,1008.19,19.5,0.00,15.04,0.02,829.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920934,28.0,27.9,1.5,0.0,17.28,24.00,3.18,136.36,61.39,1550.3,...,1192.79,1082.76,1221.62,1202.83,-7.5,65.77,-330.37,0.08,940.9,0
1920935,27.9,27.9,1.4,0.0,18.10,24.00,3.50,136.53,62.47,1620.9,...,1259.91,1147.35,1305.42,1273.40,-7.0,60.66,-299.92,-0.02,862.4,0
1920936,27.9,27.8,5.7,0.1,20.61,23.61,6.16,123.67,66.28,1785.8,...,1232.96,1136.77,1253.96,1223.54,-5.0,0.00,-11.73,-0.00,836.8,0
1920937,28.1,28.0,0.4,0.1,16.54,20.44,1.58,137.91,51.95,943.9,...,977.95,843.66,977.15,1064.38,-4.2,0.00,1.04,-0.00,844.9,0
1920938,28.1,28.0,0.3,0.1,16.49,20.49,1.52,137.93,51.93,944.9,...,976.98,844.00,977.17,1062.28,-4.2,0.00,-14.03,0.00,844.9,0

In [ ]:
df.isna().sum()

volt1          228
volt2       201205
amp1           240
amp2        201217
FQtyL          177
FQtyR          204
E1 FFlow       256
E1 OilT        273
E1 OilP        278
E1 RPM         286
E1 CHT1        286
E1 CHT2     201366
E1 CHT3     201266
E1 CHT4     201285
E1 EGT1        313
E1 EGT2        330
E1 EGT3        324
E1 EGT4        338
OAT            715
IAS            693
VSpd           736
NormAc        2446
AltMSL        2524
target           0
dtype: int64

In [ ]:
df = df.fillna(df.mean())
df.columns

Index(['volt1', 'volt2', 'amp1', 'amp2', 'FQtyL', 'FQtyR', 'E1 FFlow',
       'E1 OilT', 'E1 OilP', 'E1 RPM', 'E1 CHT1', 'E1 CHT2', 'E1 CHT3',
       'E1 CHT4', 'E1 EGT1', 'E1 EGT2', 'E1 EGT3', 'E1 EGT4', 'OAT', 'IAS',
       'VSpd', 'NormAc', 'AltMSL', 'target'],
      dtype='object')

In [ ]:
df['Voltage_Difference'] = df['volt1'] - df['volt2']
df['Battery_Current_Ratio'] = df['amp1'] / df['amp2']
df['Total_Fuel_Quantity'] = df['FQtyL'] + df['FQtyR']
df['Fuel_Imbalance'] = abs(df['FQtyL'] - df['FQtyR'])
df['Average_Cylinder_Head_Temp'] = (df['E1 CHT1'] + df['E1 CHT2'] + df['E1 CHT3'] + df['E1 CHT4']) / 4
df['Exhaust_Gas_Temp_Spread'] = df[['E1 EGT1', 'E1 EGT2', 'E1 EGT3', 'E1 EGT4']].max(axis=1) - df[['E1 EGT1', 'E1 EGT2', 'E1 EGT3', 'E1 EGT4']].min(axis=1)
df['Oil_Pressure_to_Temp_Ratio'] = df['E1 OilP'] / df['E1 OilT']
df['Normalized_Air_Speed'] = df['IAS'] / df['AltMSL']
df['Engine_Efficiency'] = df['E1 FFlow'] / df['E1 RPM']
df['Thermal_Efficiency'] = df[['E1 EGT1', 'E1 EGT2', 'E1 EGT3', 'E1 EGT4']].sum(axis=1) / df[['E1 CHT1', 'E1 CHT2', 'E1 CHT3', 'E1 CHT4']].sum(axis=1)
df['Temp_Stress'] = df['OAT'] * df[['E1 CHT1', 'E1 CHT2', 'E1 CHT3', 'E1 CHT4']].mean(axis=1)
df['Temp_Imbalance'] = df[['E1 CHT1', 'E1 CHT2', 'E1 CHT3', 'E1 CHT4']].max(axis=1) - df[['E1 CHT1', 'E1 CHT2', 'E1 CHT3', 'E1 CHT4']].min(axis=1)
df.columns

Index(['volt1', 'volt2', 'amp1', 'amp2', 'FQtyL', 'FQtyR', 'E1 FFlow',
       'E1 OilT', 'E1 OilP', 'E1 RPM', 'E1 CHT1', 'E1 CHT2', 'E1 CHT3',
       'E1 CHT4', 'E1 EGT1', 'E1 EGT2', 'E1 EGT3', 'E1 EGT4', 'OAT', 'IAS',
       'VSpd', 'NormAc', 'AltMSL', 'target', 'Voltage_Difference',
       'Battery_Current_Ratio', 'Total_Fuel_Quantity', 'Fuel_Imbalance',
       'Average_Cylinder_Head_Temp', 'Exhaust_Gas_Temp_Spread',
       'Oil_Pressure_to_Temp_Ratio', 'Normalized_Air_Speed',
       'Engine_Efficiency', 'Thermal_Efficiency', 'Temp_Stress',
       'Temp_Imbalance'],
      dtype='object')

In [ ]:
import numpy as np

def replace_inf_with_min_max(df):
    for col in df.columns:
        if np.issubdtype(df[col].dtype, np.number):  # Process only numeric columns
            # Replace -inf with column minimum (ignoring inf values)
            if np.isinf(df[col]).any():
                col_min = df.loc[~np.isinf(df[col]), col].min()
                df[col] = df[col].replace(-np.inf, col_min)

                # Replace +inf with column maximum (ignoring inf values)
                col_max = df.loc[~np.isinf(df[col]), col].max()
                df[col] = df[col].replace(np.inf, col_max)
    return df

# Apply the function to your DataFrame
df = replace_inf_with_min_max(df)

# Display updated DataFrame
print(df)

             volt1      volt2      amp1      amp2  FQtyL  FQtyR  E1 FFlow  \
0        28.013682  27.933617  0.902868  0.014613  23.27  23.75  7.057463
1        28.013682  27.933617  0.902868  0.014613  23.27  23.75  7.057463
2        28.013682  27.933617  0.902868  0.014613  23.23  23.75  7.057463
3        27.900000  27.900000  7.000000  0.600000  23.21  23.73  1.940000
4        27.900000  27.900000  7.000000  0.600000  23.21  23.73  2.020000
...            ...        ...       ...       ...    ...    ...       ...
1920934  28.000000  27.900000  1.500000  0.000000  17.28  24.00  3.180000
1920935  27.900000  27.900000  1.400000  0.000000  18.10  24.00  3.500000
1920936  27.900000  27.800000  5.700000  0.100000  20.61  23.61  6.160000
1920937  28.100000  28.000000  0.400000  0.100000  16.54  20.44  1.580000
1920938  28.100000  28.000000  0.300000  0.100000  16.49  20.49  1.520000

            E1 OilT    E1 OilP       E1 RPM  ...  Total_Fuel_Quantity  \
0        146.693254  66.986194  1963.181871  ...                47.02
1        146.693254  66.986194  1963.181871  ...                47.02
2        146.693254  66.986194  1963.181871  ...                46.98
3         73.770000  59.700000  1062.600000  ...                46.94
4         73.800000  59.750000  1064.000000  ...                46.94
...             ...        ...          ...  ...                  ...
1920934  136.360000  61.390000  1550.300000  ...                41.28
1920935  136.530000  62.470000  1620.900000  ...                42.10
1920936  123.670000  66.280000  1785.800000  ...                44.22
1920937  137.910000  51.950000   943.900000  ...                36.98
1920938  137.930000  51.930000   944.900000  ...                36.98

         Fuel_Imbalance  Average_Cylinder_Head_Temp  Exhaust_Gas_Temp_Spread  \
0                  0.48                  304.733885                13.396749
1                  0.48                  304.733885                13.396749
2                  0.52                  304.733885                13.396749
3                  0.52                   86.590000                33.190000
4                  0.52                   87.235000                34.690000
...                 ...                         ...                      ...
1920934            6.72                  289.137500               138.860000
1920935            5.90                  287.725000               158.070000
1920936            3.00                  278.202500               117.190000
1920937            3.90                  283.615000               220.720000
1920938            4.00                  283.590000               218.280000

         Oil_Pressure_to_Temp_Ratio  Normalized_Air_Speed  Engine_Efficiency  \
0                          0.456641              0.000000           0.003595
1                          0.456641              0.000000           0.003595
2                          0.456641              0.000000           0.003595
3                          0.809272              0.000000           0.001826
4                          0.809621              0.000000           0.001898
...                             ...                   ...                ...
1920934                    0.450205              0.069901           0.002051
1920935                    0.457555              0.070339           0.002159
1920936                    0.535942              0.000000           0.003449
1920937                    0.376695              0.000000           0.001674
1920938                    0.376495              0.000000           0.001609

         Thermal_Efficiency  Temp_Stress  Temp_Imbalance
0                  4.160418   5942.31076       16.740564
1                  4.160418   5942.31076       16.740564
2                  4.160418   5942.31076       16.740564
3                 11.530806   1688.50500        3.990000
4                 11.473921   1701.08250        4.100000
...                     ...          ...             ...
1920934            4.063810  -2168.53125       29.630000
1920935            4.332331  -2014.07500       30.700000
1920936            4.355847  -1391.01250       58.250000
1920937            3.405268  -1191.18300       50.050000
1920938            3.403179  -1191.07800       50.010000

[1920939 rows x 36 columns]

In [ ]:
df.to_csv('dataset.csv', index=False)